/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
@import './components/navbar.scss';


@mixin special-text($specific-color, $hover-color) {
    color: $specific-color;
  
    &:hover {
      color: $hover-color; // Use the provided hover color
    }
}

* {
    font-family: map-get($fonts, test);;
}

@mixin search-component-styles(){
    display: flex;
    align-items: center;
}

.search-component {
    @include search-component-styles();
}


.form{
    height: calc(100vh - 56px)
}

.sign-in-btn{
    outline: none;
    border: none;

    @include special-link;
 
}
.forgot-password,
.sign-up-link{
    text-decoration: none;
    @include special-text(map-get($text, raspberry), map-get($general, purple));
}




