@use "../../main.scss" as main;
@use "../../variables.scss" as var;
@use "../../Mixins.scss" as mixins;

.blog-description-text{
    font-size: map-get($map: var.$font-sizes, $key: semi-small-text)!important;
    line-height: 2;
    font-weight: 600;
}

.editor-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-transform: uppercase;

    font-family: map-get($map: var.$fonts, $key: primary);
    font-weight:700;
    font-size: map-get($map: var.$font-sizes, $key:small-text );
    color: map-get($map: var.$general, $key: charcoal_gray);

    padding: .8rem 1.2rem;
    border-radius: 23px;

    span{
        margin-right: .2rem;

        svg {
            // width: 20px;
            // height:20px;
        }
    }

    &:not(:last-child) {
        // Your styling here
        margin-right: .5rem;
        // Add any other styles you want to apply to all elements except the last one
    }
}


.special-btn{
    background-color: map-get($map: var.$general, $key: purple);
    color: map-get($map: var.$general, $key: ghost);

    span{
        .special-btn-icon{ 
            width: 16px;
            height:16px;
            stroke-width: 1px;
        }
    }

}


.blog-content{
    &>*{
        color: map-get($map: var.$text, $key: blogTextBlack);
        text-align: justify;
        line-height: 2;
        font-weight: lighter;
    }
    
    &>a{
        color: map-get($map: var.$text, $key: blogLink);
    }

    &>blockquote{
        color: map-get($map: var.$text, $key: blogBlockQuote);
        font-size: map-get($map: var.$font-sizes, $key: h4);
        font-weight: 100;
        font-style: italic;
        text-align: center;
    }
}